
<head>
    <link rel="shortcut icon" href="{% static 'polls/images/mushroom.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'polls/images/mushroom.ico' %}" type="image/x-icon">
    <title>ZTQVOTE</title>
</head>


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}